body {
  background-color: #FDF5E6; /* Beige claro */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#tarjeta-de-perfil {
  background-color: #FFFFFF; /* Blanco */
  border: 2px solid #8B4513; /* Marrón cacao */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 85%;
  text-align: center;
}

h1, h2 {
  color: #556B2F; /* Verde oliva */
  
}

/*
Tarea: Tengo que ajustar el tamaño de la imagen para que no se vea tan grande
*/
img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 20%;
  height: 10%; 
}

h3 {
  color: #8B4513; /* Marrón cacao */
}

a {
  color: #DAA520; /* Dorado suave */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

