body {
  background-color: rgba(200, 200, 200, 1);
}
#tarjeta-de-perfil {
  width: 33.33%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 150, 0.5);
  padding-block: 25px;
  margin: auto;
}
img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
#nombre {
  font-family: Helvetica;
  font-size: 30px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 150, 0.5);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 1);
}
#profesion {
  font-family: Helvetica;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 150, 0.5);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 1);
}
#universidad {
  font-family: Helvetica;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 150, 0.5);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 1);
}
#sigueme {
  background-color: rgba(173, 216, 230, 1);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}
#descripcion {
  color: rgba(255, 255, 255, 1);
  width: 300px;
  margin: 0 auto;
}
